.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  pointer-events: none;
  /* font-size: 18px; */
  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.8);
    transition: transform 0.5s linear;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide-active img {
  transform: scale(2);
  /* background: red !important; */
}
